.reg-way {
  display: flex;
}

.reg-btn {
  height: 42px;
  width: 42px;
  border-radius: 50%;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reg-icon {
  font-size: 18px;
}
