.profile-edit-block {
  display: flex;
}

.profile-edit-content {
  flex: 1;
}

.profile-edit-btn {
  margin: 16px;
  display: flex;
  height: 44px;
  width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}
