.filter__outer .collapse__header {
  padding: 20px;
  font-size: 18px;
  display: none;
}

.filter {
  transition: 0.3s;
  overflow: hidden;
}

.filter__group {
  border-bottom: 1px solid #e9eaea;
}

.filter__text {
  display: block;
  padding: 0 10px;
}

.filter__icon {
  display: none;
  flex-direction: column;
  align-items: center;
}

.filter__icon .line:not(:last-child) {
  margin-bottom: 4px;
}

.filter__icon {
  background-color: #f2f2f2;
  border: 1px solid #dbdbdb;
  border-right: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 10px;
}

@import './component/Telegram/style.scss';
